body{
    margin: 0%;
}
header{
    height: 100px;
    background-color: lightsteelblue;
    margin: 0;
    height: 35px;
}
.flexbox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
}
.Q1flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.Q1-2013
{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    padding-right: 10px;
}
.Q1-2014{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    padding-right: 10px;
}
.Q1-2015{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    padding-right: 10px;
}
.Q1-2016{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    padding-right: 10px;
}
.Q1-2017{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    padding-right: 10px;
}
.Q1-2018{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    padding-right: 10px;
}
.Q1-2019{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    padding-right: 10px;
}
.Q1-2020{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    padding-right: 10px;
}
.Q2flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Q2-econ{
    border: 1px solid grey;
    margin: 10px;
    border-radius: 7px;
    background-color: lightgrey;
    padding: 2px;
    padding-right: 10px;
}
.Q2-admi{
    border: 1px solid grey;
    margin: 10px;
    border-radius: 7px;
    background-color: lightgrey;
    padding: 2px;
    padding-right: 10px;
}
.Q2-empre{
    border: 1px solid grey;
    margin: 10px;
    border-radius: 7px;
    background-color: lightgrey;
    padding: 2px;
    padding-right: 10px;
}
.Q2-nocaxo{
    border: 1px solid grey;
    margin: 10px;
    border-radius: 7px;
    background-color: lightgrey;
    padding: 2px;
    padding-right: 10px;
}
.Q3{
    margin-bottom: 0%;
}
.footerflex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 100px;
    background-color: lightsteelblue;
    align-items: center;

}
footer{
    margin: 0%;
}