header{
    height: 10px;
}
.flexbox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}
.Q1flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.Q1-2013
{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
}
.Q1-2014{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
}
.Q1-2015{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
}
.Q1-2016{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
}
.Q1-2017{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
}
.Q1-2018{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
}
.Q1-2019{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
}
.Q1-2020{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: lightgray;
}
.footerflex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100px;
}
